@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root { 
  scroll-behavior: smooth;
  --font-base: "Roboto", sans-serif;
  --color-font-black: #1e1e1e;
  --bg-rodape: #aca9e1;
  --color-font-green: #5bcca4;
  --color-font-purple: #5f5e9f;
  --color-pink: #E069D6;
  --color-orange: #fad5e1;
  --color-blue-berry: #B553DB;
}
 
@layer base {
  .container {
    @apply flex flex-col h-screen justify-between;
    font-family: var(--font-base);
  }
  main {
    @apply mt-90 w-screen lg:mt-40; 
  }
} 